<!doctype html>
<html lang="en">
<head>
  <title>Gobbler App</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
  <div>
    <div>
      <h1 id="title">Gobbler App</h1>
    </div>
    <br>
    <div class="form">
        <form action="/add-item" enctype="multipart/form-data" method="POST"> 
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="message">Message:</label>
            <input type="text" name="message">
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <div class="messages">
        <ul>
        {% for item in data %}
            <h2>{{item.AccountName.S}}</h2>
            <p>{{item.Message.S}}</p>
            <p>{{item.Timestamp.N}}</p>
        {% endfor %}
        </ul>
    </div>
      
    
  </div>
</body>
</html>
